#
# Solid auto start using systemd unit file for Ubuntu 
#
# Put this in /lib/systemd/system (Ubuntu).
# Run:
#   1. systemctl enable solid_queue (to enable sidekiq service)
#   2. systemctl {start,stop,restart} solid_queue  (to start sidekiq service)
#
# This file corresponds to a single Sidekiq process.  Add multiple copies
# to run multiple processes (sidekiq-1, sidekiq-2, etc).
#
# See Inspeqtor's Systemd wiki page for more detail about Systemd:
# https://github.com/mperham/inspeqtor/wiki/Systemd
#
# 	-	sudo mv /home/russell/solid_queue.service /lib/systemd/system/solid_queue.service
#   -	sudo systemctl daemon-reload
#   - sudo systemctl enable solid_queue
#   - sudo systemctl {start,stop,restart} solid_queue
#   - sudo systemctl stop solid_queue
#	to view the logs for answers to faults
#   - sudo journalctl -u sidekiq.service
#   - sudo journalctl -u sidekiq.service | tail -n 300
#
#
#
[Unit]
Description=solid_queue for drusound staging 802
After=syslog.target network.target
# See these pages for lots of options:
# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html

[Service]
Type=simple
# need to add the deploying user here with their group
User=russell   
Group=russell
Environment="RAILS_ENV=production"

WorkingDirectory=/var/www/drusound_802_staging/current
#  need to use the path to bundle use "rbenv which bundle"  but can also use shims
ExecStart= /home/russell/.rbenv/shims/bundle exec bin/jobs  
#ExecStart= /home/russell/.rbenv/versions/4.0.1/bin/bundle  exec    bin/jobs 

ExecReload=/bin/kill -TSTP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

Environment=MALLOC_ARENA_MAX=2

RestartSec=5
Restart=always
# output goes to /var/log/syslog
SyslogIdentifier=solid_queue

[Install]
WantedBy=default.target
